/*setting up the game board*/
#board {
  position: relative;
  border: 3px solid;
  border-radius: 25px;
  background-color: #8AC007;
  width: 660px;
  height: 700px;
}

div {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 12px;
}

.top {
  position: absolute;
  top: 20px;
  border: 1px solid;
  border-radius: 5px;
  width: 80px;
  height: 120px;
}

.waste.fd{left: 20px; cursor: pointer;}
.waste.fu{left: 120px;}
.count {
  position: absolute;
  top: 150px;
  left: 20px;
  color: white;
}

.foundation.heart{
  left: 290px;
  background-image: url('img/heartFoundation.svg');
}
.foundation.spade{
  left: 380px;
  background-image: url('img/spadeFoundation.svg');
}
.foundation.diamond{
  left: 470px;
  background-image: url('img/diamondFoundation.svg');
}
.foundation.club{
  left: 560px;
  background-image: url('img/clubFoundation.svg');
}

button {
  position: absolute;
  top: 20px; 
  left: 210px;
}

.pile {
  position: absolute;
  top: 200px;
  border: 1px solid;
  border-radius: 5px;
  width: 80px;
  height: 120px;
}

.col1{left: 20px;}
.col2{left: 110px;}
.col3{left: 200px;}
.col4{left: 290px;}
.col5{left: 380px;}
.col6{left: 470px;}
.col7{left: 560px;}

/*styling the cards*/

.card{
  position: absolute;
  left: 0px;
  top: 0px;
  /*border: 1px solid black;*/
  width: 80px;
  height: 120px;
  border-radius: 5px;
}

.card.faceDown {background-image: url('img/back.svg');}

p {visibility: hidden;}

.card.faceUp {
    cursor: pointer;
}

.lightup {
  box-shadow: 0px 0px 20px red;
}

footer {
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-size: 12px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  display: inline-block; 
  color: white;
}
